//PRIMARY
$primary: #329494;
$primary-light1: #5cb7cb;
$primary-light2: #65afaf; 
$primary-light3: #6eb4b4;
$primary-lighter: #98c7c7;

$primary2: #5C81FA;
$primary3: #6DA4FD;
$primary2-light1: #ABBDFA;
$primary2-light2: #A7BBFF;

$primary2-gradient: linear-gradient(45.79deg, #6CA6FF 0%, #7876D1 100%, #AE76D1 100%);
@mixin primary2-gradient {
    background-image: $primary2-gradient;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

//DANGER-VALID
$danger: #e06a6a;
$valid: #b4d9d9;
$valid-green2: #59E4AA;
$valid-green2-border: #54E1A7;

//SHADES OF GREY
$text-lightgrey: #adadad;
$dd-lightgrey: #9d9d9d;
$label-grey: #7c7c7c;
$border-grey: #555555;
$title-grey2: #404040;
$text-grey: #2b2b2b;
$lighter-grey: #c5C5C5;
$neo-lightgrey: #D6D6D6;

//WHITES
$white: #ffffff;
$off-white1: #fbfbfb;
$off-white2: #f4f4f4;
$off-white3: #f0f0f0;
$off-white4: #fafafa;
$off-white5: #E2E5EC;
$off-white6: #E9E9E9;


//ADDING COLORS
$linkedin-blue: #0077b5;
$facebook-blue: #1977f3;
$pinterest-red: #e60023;
$red: #ff0000;
$yellow1: #FBD655;
$yellow2: #F9D34D;
