//WIDTH
$ultra-small: 413px!default;
$extra-small: 440px!default;
$small: 650px!default;
$pre-small2: 690px !default;
$pre-small: 824px !default;
$medium: 963px!default;
$large: 1143px!default;
$extra-large:1270px!default;

$ultra-small-up: "only screen and (min-width: #{$ultra-small})";
$ultra-small-down: "only screen and (max-width: #{$ultra-small})";
$extra-small-up: "only screen and (min-width: #{$extra-small})";
$extra-small-down: "only screen and (max-width: #{$extra-small})";
$small-up: "only screen and (min-width: #{$small})";
$small-down: "only screen and (max-width: #{$small})";
$pre-small-up: "only screen and (min-width: #{$pre-small})";
$pre-small-down: "only screen and (max-width: #{$pre-small})";
$pre-small2-up: "only screen and (min-width: #{$pre-small2})";
$pre-small2-down: "only screen and (max-width: #{$pre-small2})";
$medium-up: "only screen and (min-width: #{$medium})";
$medium-down: "only screen and (max-width: #{$medium})";
$extra-large-up: "only screen and (min-width: #{$extra-large})";
$extra-large-down: "only screen and (max-width: #{$extra-large})";
$large-up: "only screen and (min-width: #{$large})";
$large-down: "only screen and (max-width: #{$large})";



//HEIGHT
$height: 674px!default;

$height-up: "only screen and (min-height: #{$height})";
$height-down: "only screen and (max-height: #{$height})";
