///////////////////////////////////////////////////////GENERAL
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background: #15e2ec;
    animation: opacityAnimation 15s ease;
    font-family: sans-serif;
    .container {
        width: 100vw;
        height: 100vh;
        background: linear-gradient(360deg, #ec1587, #15e2ec);
        background-size: 400% 400%;
        -webkit-animation: GradientAnimation 5s ease infinite;
        -moz-animation: GradientAnimation 5s ease infinite;
        -o-animation: GradientAnimation 5s ease infinite;
        animation: GradientAnimation 5s ease infinite;
        perspective-origin: 150% -800px;
    }
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

///////////////////////////////////////////////////////////CUBE
.cube {
    transform-style: preserve-3d;
    animation: rotateAnimation 20s linear infinite;
    z-index: 5;
}

//FACES
div {
    width: 400px;
    height: 400px;
    position: absolute;
}

//COLORS
.front,
.back,
.left,
.right,
.top,
.bottom {
    opacity: 0.4;
    text-align: center;
    color: white;
}

.front,
.back,
.top {
    background: linear-gradient(180deg, #ec1587, #15e2ec);
    background-size: 400% 400%;
    -webkit-animation: GradientAnimation 3s ease infinite;
    -moz-animation: GradientAnimation 3s ease infinite;
    -o-animation: GradientAnimation 3s ease infinite;
    animation: GradientAnimation 3s ease infinite;
}

.left,
.right {
    background: linear-gradient(270deg, #ec1587, #15e2ec);
    background-size: 400% 400%;
    -webkit-animation: GradientAnimation 5s ease infinite;
    -moz-animation: GradientAnimation 5s ease infinite;
    -o-animation: GradientAnimation 5s ease infinite;
    animation: GradientAnimation 5s ease infinite;
}

.top,
.bottom {
    background: linear-gradient(360deg, #ec1587, #15e2ec);
    background-size: 400% 400%;
    -webkit-animation: GradientAnimation 7s ease infinite;
    -moz-animation: GradientAnimation 7s ease infinite;
    -o-animation: GradientAnimation 7s ease infinite;
    animation: GradientAnimation 7s ease infinite;
}

///////////////////////////////////////////////////TRANSFORMATION
.front {
    transform: translateZ(200px);
}

.back {
    transform: rotateY(180deg) translateZ(200px);
}

.left {
    transform: rotateY(-90deg) translateZ(200px);
}

.right {
    transform: rotateY(90deg) translateZ(200px);
}

.top {
    transform: rotateX(90deg) translateZ(200px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(200px);
}

/////////////////////////////////////////////////////////////TEXT
h1 {
    color: #15e2ec;
    z-index: 1;
    -webkit-animation: opacityAnimation 100s ease-in-out;
    -moz-animation: opacityAnimation 100s ease-in-out;
    -o-animation: opacityAnimation 100s ease-in-out;
    animation: opacityAnimation 100s ease-in-out;
}

//GRADIENT ANIMATION
@-webkit-keyframes GradientAnimation {
    0% {
        background-position: 44% 0%;
    }
    50% {
        background-position: 57% 100%;
    }
    100% {
        background-position: 44% 0%;
    }
}
@-moz-keyframes GradientAnimation {
    0% {
        background-position: 44% 0%;
    }
    50% {
        background-position: 57% 100%;
    }
    100% {
        background-position: 44% 0%;
    }
}
@-o-keyframes GradientAnimation {
    0% {
        background-position: 44% 0%;
    }
    50% {
        background-position: 57% 100%;
    }
    100% {
        background-position: 44% 0%;
    }
}
@keyframes GradientAnimation {
    0% {
        background-position: 44% 0%;
    }
    50% {
        background-position: 57% 100%;
    }
    100% {
        background-position: 44% 0%;
    }
}

//ROTATE ANIMATION
@keyframes rotateAnimation {
    from {
        transform: rotateY(0) rotateX(0);
    }
    to {
        transform: rotateY(360deg) rotateX(360deg);
    }
}

//OPACITY ANIMATION
@keyframes opacityAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
