@import "./style.scss";

section {
    text-align: center;

    h1 {
        font-size: 100px;
        margin-top: calc(50vh - 200px);
        margin-bottom: 48px;
        -webkit-animation: opacityAnimation 2s ease;
        -moz-animation: opacityAnimation 2s ease;
        -o-animation: opacityAnimation 2s ease;
        animation: opacityAnimation 2s ease;
    }

    a {
        background: white;
        color: #eeeeee;
        padding: 8px 12px;
        font-size: large;
        border-radius: 6px;
        cursor: pointer;
        -webkit-animation: opacityAnimation 5s ease;
        -moz-animation: opacityAnimation 5s ease;
        -o-animation: opacityAnimation 5s ease;
        animation: opacityAnimation 5s ease;
        
    }


}


